/* Pocket Investigator */

@import "../../controls.scss";

.page-container {
  display: flex;
  align-items: center;
  position: relative;

  .bg {
    width: 100%;
    height: 100%;
    position: absolute;

   .img {
    width: 100%;
    height: 100%;
    background-image: url("assets/images/wall.png");
    background-size: cover;
   }
  }

  .inner-container {
    width: 100%;
    height: 100%;
    margin: 5rem 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
  }

  .settings {
    width: 100%;
    margin-top: 8rem;
    display: flex;
    flex-direction: column;
    align-items: center;

    .entry {
      width: 100%;
      margin-bottom: 2rem;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;

      span {
        width: 50%;
        display: block;
        font-size: 22px;
        text-align: left;
        word-spacing: 4px;
      }
    }
  }

  .version {
    position: absolute;
    bottom: 1.5rem;
    color: $white;
  }
}
