/* Pocket Investigator */

@import "./colors.scss";

button {
  padding: 1rem 2rem;
  font-size: 20px;
  line-height: 16px;
  text-align: center;
  border: 0;
  outline: none;

  &:active, &:focus {
    border: 0;
    border-style: outset;
  }

  &.red {
    min-width: 160px;
    min-height: 48px;
    background: url("assets/images/controls/buttons/red.png");
    color: $white;

    &:active {
      background: url("assets/images/controls/buttons/red_pressed.png");
    }
  }
}

.checkbox {
  input[type=checkbox] {
    display: none;

    &:checked + .checker {
      &.red {
        background: url("assets/images/controls/toggles/red_on.png");
      }
    }
  }

  .checker {
    width: 120px;
    height: 48px;
    display: block;

    &.red {
      background: url("assets/images/controls/toggles/red_off.png");
    }
  }
}
