/* Pocket Investigator */

@import "./colors.scss";

@font-face {
  font-family: "Arcade";
  src: url("assets/fonts/Arcade.ttf");
}

* {
  margin: 0px;
  padding: 0px;
  font-family: "Arcade";
  user-select: none;
}

body {
  width: 100%;
  height: 100vh;
}

// Fonts.
h1 {
  font-size: 26px;
  letter-spacing: 2px;
}

// Generic styles.
.page-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;

  > ng-component {
    height: 100%;
  }
}
