<?xml version='1.0' encoding='utf-8'?>
<widget id="com.dwsg.pocketinvestigator" version="0.0.999" xmlns="http://www.w3.org/ns/widgets" xmlns:android="http://schemas.android.com/apk/res/android" xmlns:cdv="http://cordova.apache.org/ns/1.0">

    <!-- App meta data. -->
    <name>Pocket Investigator</name>
    <description>
        An interactive fiction game about being an investigator.
    </description>
    <author email="dev@dickwolff.nl" href="https://github.com/dickwolff/Pocket-Investigator">
        Dick Wolff
    </author>
    <content src="index.html" />

    <!-- Cordova builld hooks. -->
    <hook src="hooks/copyWebApp.sh" type="before_prepare" />

    <!-- Plugins. -->
    <plugin name="cordova-plugin-whitelist" spec="1" />

    <!-- App config. -->
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />

    <!-- Android config. -->
    <platform name="android">
        <allow-intent href="market:*" />

        <custom-preference name="android-manifest/application/@android:isGame" value="true" />

        <preference name="SplashMaintainAspectRatio" value="true" />
        <preference name="ShowSplashScreenSpinner" value="false" /> 

        <splash src="res/screen/android/splash-hdpi.png" density="port-hdpi" />
        <splash src="res/screen/android/splash-ldpi.png" density="port-ldpi" />
        <splash src="res/screen/android/splash-mdpi.png" density="port-mdpi" />
        <splash src="res/screen/android/splash-xhdpi.png" density="port-xhdpi" />
    </platform>

    <!-- iOS config. -->
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />

        <preference name="FadeSplashScreen" value="false" />

        <splash src="res/screen/ios/Default@2x~universal~anyany.png" />
    </platform>
</widget>
