/* Pocket Investigator */

@import "../../controls.scss";

.page-container {

  .inner-container {
    height: 100%;
    margin: 32px;
    position: relative;
  }

  nav {
    margin-top: 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
